/* Login.module.css */


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #a6e3e9;
  background-image: radial-gradient(#a6e3e9, #71d8e4);
  position: relative;
  z-index: 0;
}
.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.loginForm {
  background-color: white;
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 400px;
  margin-top: 2rem; 
}

.formHeading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: black;
  text-align: center;
}

.input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: black;
  font-size: 1rem;
}

.signInButton {
  display: block;
  width: 100%;
  padding: 0.7rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-left: 1rem;
}

.navButton {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}