/* Navbar.module.css */
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-left: 1rem;
}

.navButton {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 8px;
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
}

.popupContent {
  background-color: #121213;
  padding: 2rem;
  border-radius: 8px;
  text-align: left;
  position: relative;
  color: #fff;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.close:hover {
  color: #ccc;
}

.popupContent h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.popupContent p {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}